* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: rgb(22, 22, 41);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-cont {
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 70vh;
}

#up {
    display: flex;
    margin-bottom: 2%;
}

#down {
    display: flex;
}

#cont-blue {
    display: flex;
    flex-flow: column;
    margin-left: 2%;
    height: 34vh;
}

#orangered {
    background-color: orangered;
    width: 30vw;
    height: 34vh;
}

#yellow {
    background-color: orange;
    width: 20vw;
    height: 34vh;
    margin-left: 2%;
}

#green {
    background-color: green;
    width: 22vw;
    height: 34vh;
}

#small-blue {
    background-color: rgb(6, 178, 246);
    width: 28vw;
    height: 14vh;
    margin-bottom: 3%;
}

#big-blue {
    background-color: rgb(6, 178, 246);
    width: 28vw;
    height: 18.3vh;
}